    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
     :root {
        --primary-color: #22254b;
        --secondary-color: #4a4e69;
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        background-color: #1e1f26;
        background-position: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    
    .background-image {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        display: block;
        background-position: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /* Add the blur effect */
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: 1200px;
        height: 800px;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    header {
        position: sticky !important;
        padding: 10px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        background-color: #1e1f26;
    }

    a.button
    {
        color: white;
        padding: 10px 20px;
        background-color: #4a4e69;
        border: none;
        text-decoration: none;
        border-radius: 50px;
        margin: 5px;
        display: inline-block;
        cursor: pointer;
    }

    .logo {
        width: 150px;
        height: 80px;
        margin: 10px;
    }
    
    form {
        border: 2px solid var(--primary-color);
        background-color: transparent;
        border-radius: 50px;
        font-family: inherit;
        font-size: 15px;
        padding: 0.5rem 1rem;
        color: #fff;
        user-select: none;
        outline: none;
        height: 50px;
        margin: 10px;
    }
    
    fas fa {
        color: white;
        /* font-size: 18px;
  font-weight: bold; */
        margin-right: 5px;
    }
    
    i fas fa-play {
        color: white;
        margin-right: 5px;
    }
    
    .search {
        background-color: transparent;
        outline: none;
        border: none;
        font-family: inherit;
        font-size: 15px;
        color: #fff;
        height: 20px;
        margin: 5px;
        justify-content: center;
    }
    
    .search::placeholder {
        color: #4a4e69;
        font-weight: bold;
    }
    
    .search:focus {
        outline: none;
        background-color: #1e1f26;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .movie {
        width: 300px;
        margin: 1rem;
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
        background-color: var(--secondary-color);
        position: relative;
        overflow: hidden;
    }
    
    .movie img {
        width: 100%;
    }
    
    .movie-info {
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 1rem;
        letter-spacing: 0.5px;
    }
    
    .movie-info h3 {
        margin-top: 0;
    }
    
    .movie-info span {
        background-color: var(--primary-color);
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        font-weight: bold;
    }
    
    .movie-info span.green {
        color: lightgreen;
    }
    
    .movie-info span.orange {
        color: orange;
    }
    
    .movie-info span.red {
        color: red;
    }
    
    .overview {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        padding: 1rem;
        max-height: 100%;
        transform: translateY(101%);
        transition: transform 0.3s ease-in;
        cursor: pointer;
        user-select: none;
    }
    
    .overview h3 {
        color: #4a4e69;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }
    
    .movie:hover .overview {
        transform: translateY(0)
    }
    
    #tags {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        user-select: none;
    }
    
    .tag {
        color: white;
        padding: 10px 20px;
        background-color: #4a4e69;
        border-radius: 50px;
        margin: 5px;
        display: inline-block;
        cursor: pointer;
        
    }
