    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
     :root {
        --primary-color: #22254b;
        --secondary-color: #4a4e69;
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        background-color: #1e1f26;
        background-position: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
	
	    .background-image {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        display: block;
        background-position: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /* Add the blur effect */
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: 1200px;
        height: 800px;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
	
	 header {
        position: sticky !important;
        padding: 10px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        background-color: #1e1f26;
    }
	
	   .logo {
        width: 150px;
        height: 80px;
        margin: 10px;
    }
	
	
    }
    
    form {
        border: 2px solid var(--primary-color);
        background-color: transparent;
        border-radius: 50px;
        font-family: inherit;
        font-size: 15px;
        padding: 0.5rem 1rem;
        color: #fff;
        user-select: none;
        outline: none;
        height: 50px;
        margin: 10px;
    }